In [1]:
#dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
#import csv data files
# File to Load 
ad_data_to_load = "csv_data/Ad31.csv"
cost_of_goods_to_load = "csv_data/cost_of_goods.csv"
transactions_to_load="csv_data/transactions_main.csv"

# Read the City and Ride Data
ad_data_raw =pd.read_csv(ad_data_to_load, index_col=False)
cost_of_goods_raw =pd.read_csv(cost_of_goods_to_load)
transactions_raw =pd.read_csv(transactions_to_load)

#create dfs
ad_df_raw = pd.DataFrame(ad_data_raw)
cog_df_raw = pd.DataFrame(cost_of_goods_raw)
trans_df_raw = pd.DataFrame(transactions_raw)

In [11]:
#ad_df_raw.head(5)
#cog_df_raw.head()
trans_df_raw.head()

#trans_df
#cols to add
    #transaction profit
    #profit - Ads
    #sale price per unit
    #Whole Date
    #Group
    #parent
    #child
    #day???
    #cost of goods

,date/time,settlement id,type,order id,sku,description,quantity,marketplace,fulfillment,order city,...,shipping credits,gift wrap credits,promotional rebates,sales tax collected,Marketplace Facilitator Tax,selling fees,fba fees,other transaction fees,other,total
0,"Apr 10, 2015 5:25:27 PM PDT",5893239421,FBA Inventory Fee,NaN,NaN,FBA Amazon-Partnered Carrier Shipment Fee,NaN,Amazon.com,NaN,NaN,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,-4.33,-4.33
1,"Apr 10, 2015 5:29:22 PM PDT",5893239421,FBA Inventory Fee,NaN,NaN,FBA Amazon-Partnered Carrier Shipment Fee,NaN,Amazon.com,NaN,NaN,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,-4.96,-4.96
2,"Apr 15, 2015 6:48:48 PM PDT",5893239421,Order,108-1163521-1001851,48-JT2Z-XFJ6,Chocolate Disney Frozen Surprise Egg By Zaini-...,1.0,amazon.com,Amazon,MANDAN,...,0.0,3.49,0.0,0.0,0.0,-3.3,-6.16,0.0,0.00,16.02
3,"Apr 16, 2015 4:01:31 PM PDT",5893239421,FBA Inventory Fee,NaN,NaN,FBA Amazon-Partnered Carrier Shipment Fee,NaN,Amazon.com,NaN,NaN,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,-9.31,-9.31
4,"Apr 16, 2015 4:15:31 PM PDT",5893239421,FBA Inventory Fee,NaN,NaN,FBA Amazon-Partnered Carrier Shipment Fee,NaN,Amazon.com,NaN,NaN,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,-7.62,-7.62

In [3]:
#merge csv data into one dataframe

In [4]:
#TODO
#Everyone has repository clone
#Strategy for branching and merging. 
#Outline responsibilities
#